.page {
    width: 100%;
    padding-right: var(--grid-margin);
    padding-left: var(--grid-margin);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.page.centered {
    display: flex;
    justify-content: center;
}
