.page {
    width: 100%;
    padding-right: var(--page-margin);
    padding-left: var(--page-margin);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.page.centered {
    display: flex;
    justify-content: center;
}

.page .heading {
    margin-top: 0;
    margin-bottom: 16px;
}
