.field-container {
    display: flex;
    justify-content: space-between;
    min-height: 44px;
}

.field-container:not(:last-child) {
    margin-bottom: 10px;
}

.label {
    width: 50%;
}

.value {
    width: 50%;
}

.actions {
    margin-top: 16px;
}

button + button {
    margin-left: 16px;
}
