table {
    padding-bottom: 8px;
}

table colgroup col:nth-child(1) {
    width: 240px;
}

table colgroup col:nth-child(2) {
    min-width: 110px;
    width: 160px;
}

table colgroup col:nth-child(3) {
    min-width: 48px;
}

table thead tr th:nth-child(1) {
    text-align: left;
}

table tbody tr {
    height: 48px;
}

table tbody tr.sub-row td:nth-child(1) {
    /*padding-left: 24px;*/
}

table tbody tr td label.required::after {
    content: '*';
    margin-left: 4px;
    color: var(--color-error);
}

table + table {
    margin-top: 24px;
}
