.input {
    display: flex;
    flex-direction: column;
}

.input .label {
    height: 56px;
    overflow: visible;
    padding: 0 16px;
    background-color: var(--color-input-background);

    border-radius: 4px;
    display: inline-flex;
    align-items: baseline;
    position: relative;
    box-sizing: border-box;
}

.input .label .icon {
    display: inline-block;
    align-self: center;
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: var(--color-primary-variant);

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.input .label .icon.account {
    mask-image: url('@assets/icons/ui-actions/logout_24dp.svg');
    -webkit-mask-image: url('@assets/icons/ui-actions/logout_24dp.svg');
}

.input .label .icon.person {
    mask-image: url('@assets/icons/social/person_24dp.svg');
    -webkit-mask-image: url('@assets/icons/social/person_24dp.svg');
}

.input .label .icon.lock {
    mask-image: url('@assets/icons/actions/lock_24dp.svg');
    -webkit-mask-image: url('@assets/icons/actions/lock_24dp.svg');
}

.input .label .icon.mail {
    mask-image: url('@assets/icons/communicate/mail_24dp.svg');
    -webkit-mask-image: url('@assets/icons/communicate/mail_24dp.svg');
}

.input .label .icon.height {
    mask-image: url('@assets/icons/text/height_24dp.svg');
    -webkit-mask-image: url('@assets/icons/text/height_24dp.svg');
}

.input .label .icon.weight {
    mask-image: url('@assets/icons/social/weight_24dp.svg');
    -webkit-mask-image: url('@assets/icons/social/weight_24dp.svg');
}

.input .label .trailing-icon {
    display: none;
    align-self: center;
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-color: var(--color-error);

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.input .label .trailing-icon.error {
    mask-image: url('@assets/icons/actions/error_24dp.svg');
    -webkit-mask-image: url('@assets/icons/actions/error_24dp.svg');
}

.input .label input {
    display: flex;
    align-self: end;
    margin-bottom: 8px;
    height: 28px;
    padding: 0;

    border: none;
    width: 100%;
    box-sizing: border-box;
    background: none;

    font-family: var(--font-primary), sans-serif;
    font-size: var(--mnt-body-1-font-size);
    font-weight: var(--mnt-body-1-font-weight);
    color: var(--color-primary);

    caret-color: var(--color-primary) !important;
}

/* Override autocomplete styles */
.input .label input:-webkit-autofill,
.input .label input:-webkit-autofill:hover,
.input .label input:-webkit-autofill:focus,
.input .label input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-input-background) inset !important;
    -webkit-text-fill-color: var(--color-primary) !important;
}

.input .label input:focus {
    outline: none;
}

.input .label input:focus + .outline {
    outline: 1px solid var(--color-primary);
}

.input .label .outline {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    z-index: 1;

    border: 1px solid transparent;
    border-radius: 4px;
}

.input .label:has(.icon) .outline .floating-label {
    left: 48px;
}

.input .label .outline .floating-label {
    position: relative;
    display: inline-block;
    align-self: baseline;
    transform-origin: left top;
    left: 16px;
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-primary-variant);
    will-change: transform, color;

    transition:
        transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
        color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input .label input:focus + .outline > .floating-label,
.input .label input:not(:placeholder-shown) + .outline > .floating-label {
    transform: translate3d(0, -100%, 0) scale(0.75);
    z-index: 2;
}

.input .label input:focus + .outline > .floating-label {
    color: var(--color-primary);
}

/*.input .label input:invalid:not(:placeholder-shown) + .outline > .floating-label {*/
/*    color: var(--color-error);*/
/*}*/

.input.has-error .label input:not(:placeholder-shown) + .outline > .floating-label,
.input.has-error + .outline > .floating-label {
    color: var(--color-error);
}

/*.input .label input:invalid:not(:placeholder-shown) ~ .trailing-icon {*/
/*    display: inline-block;*/
/*}*/

.input.has-error label input:not(:placeholder-shown) ~ .trailing-icon {
    display: inline-block;
}

.input .label input[required] + .outline > .floating-label:after {
    content: ' *';
}

.input .helper-line {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;

    pointer-events: none;
    color: var(--color-primary);
    font-size: var(--mnt-body-2-font-size);

    align-content: end;
}

.input .helper-line .error-text {
    display: none;
    color: var(--color-error);
}

.input:has(input:invalid:not(:placeholder-shown)) .helper-line .error-text {
    display: inline-block;
}

.input .helper-line .character-counter {
    float: right;
}
