.content-block {
    background-color: var(--color-surface);
    padding: var(--content-padding);
    box-sizing: border-box;
}

.content-block:has(+ .content-block) {
    margin-bottom: var(--content-margin);
}
