main {
}

.overlay {
    width: 400px;
    justify-self: center;
    justify-items: center;
    margin-top: 20vh;

    border-radius: 8px;
    background-color: var(--color-overlay-background);
    padding: 24px;
}

.overlay .icon {
    width: 48px;
    height: 48px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    background-color: var(--color-primary);
}

.overlay .icon.home {
    mask-image: url('../../assets/icons/actions/account_circle_24dp.svg');
    -webkit-mask-image: url('../../assets/icons/actions/account_circle_24dp.svg');
}

.overlay h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.overlay h2 {
    font-size: var(--mnt-body-1-font-size);
    font-weight: var(--mnt-body-1-font-weight);

    margin-top: 8px;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
