main {
    display: flex;
    justify-content: center;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 8px;
    background-color: var(--color-overlay-background);
    padding: 24px;
    margin-top: 20vh;
    gap: 24px;
}

.overlay h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.overlay h2 {
    font-size: var(--mnt-body-1-font-size);
    font-weight: var(--mnt-body-1-font-weight);

    margin-top: 8px;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.form .auth-actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.form .auth-actions .remember-me {
    color: var(--color-primary-variant);
    text-decoration: line-through;
}

.form .auth-actions .forgot-password {
    color: var(--color-primary-variant);
    text-decoration: line-through;
}

.signup {
    color: var(--color-primary-variant);
    text-decoration: line-through;
}
