:root {
    /* Colors */
    --color-primary: #fefefe;
    --color-primary-variant: #aeaeb1;
    --color-secondary: #2a2931;
    --color-secondary-variant: #1d1d23;
    --color-black: #000000;

    /* Color backgrounds */
    --color-surface: #373740;
    --color-background: #33333d;
    --color-error: #b00020;
    --color-status-bar: #27272f;
    --color-overlay-background: #1e1e1e;

    /* On colors */
    --color-on-primary: #2a2931;
    --color-on-secondary: #fefefe;
    --color-on-background: #fefefe;
    --color-on-surface: #fefefe;
    --color-on-error: #fefefe;

    --color-input-background: #26282f;

    /* Color palettes */
    --color-accent-green-800: #007d51;
    --color-accent-green-700: #018e5d;
    --color-accent-green-600: #09a16b;
    --color-accent-green-500: #12b076;
    --color-accent-green-300: #6cc89e;
    --color-accent-green-100: #c1e7d4;

    --color-accent-dark-green-800: #045d56;
    --color-accent-dark-green-600: #007c75;
    --color-accent-dark-green-400: #239a95;

    --color-accent-orange-400: #ff6759;
    --color-accent-orange-300: #f3827c;
    --color-accent-orange-100: #ffd3d6;

    --color-accent-yellow-600: #ffad00;
    --color-accent-yellow-300: #ffcf44;
    --color-accent-yellow-200: #ffdd7c;
    --color-accent-yellow-100: #ffeab0;

    --color-accent-purple-700: #773ac3;
    --color-accent-purple-400: #9f65dc;
    --color-accent-purple-100: #decaf7;

    --color-accent-blue-600: #0082fb;
    --color-accent-blue-300: #58b2ff;
    --color-accent-blue-100: #b9ddff;

    --color-accent-grey-900: #1e1e26;
    --color-accent-grey-800: #3f3f48;
    --color-accent-grey-700: #5e5e67;
    --color-accent-grey-600: #72727c;
    --color-accent-grey-500: #9b9aa5;
}
