:root {
    /* Color Palette: Blue Gray */
    --color-palette-50: #e8eaf6;
    --color-palette-100: #c5cae9;
    --color-palette-200: #9fa8da;
    --color-palette-300: #7986cb;
    --color-palette-400: #5c6bc0;
    --color-palette-500: #3f51b5;
    --color-palette-600: #3949ab;
    --color-palette-700: #303f9f;
    --color-palette-800: #283593;
    --color-palette-900: #1a237e;
    --color-palette-a100: #8c9eff;
    --color-palette-a200: #536dfe;
    --color-palette-a400: #3d5afe;
    --color-palette-a700: #304ffe;

    /* Colors */
    --color-white: #fff;

    --primary-color: var(--color-palette-900);
    --primary-color-hover: var(--color-palette-800);
    --primary-color-active: var(--color-palette-700);

    --secondary-color: var(--color-white);
    --secondary-color-hover: var(--color-palette-50);
    --secondary-color-active: var(--color-palette-100);

    --error-color: #b00020;

    /* # */

    /* Text Colors */
    --text-primary-color: #1c1c1c;
    --text-primary-color-inverted: #e3e3e3;
    --text-secondary-color: #000;
    --text-white-color: #fff;
    --text-black-color: #000;
}
