@import 'colors.css';
@import 'typography.css';
@import 'layout.css';

html {
    background-color: var(--color-background);
}

body {
    display: grid;
    grid-template-areas:
        'nav'
        'header'
        'main'
        'footer';
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-background);

    font-family: var(--font-primary), sans-serif;
    font-weight: var(--font-weight-regular);
    color: var(--color-on-background);
    line-height: 1.6;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    width: 100vw;
    background-color: var(--color-status-bar);
}

main {
    grid-area: main;
    background-color: var(--color-background);
    padding-top: 24px;
    padding-bottom: 24px;
}

footer {
    grid-area: footer;
}
