:root {
    /* Border Radius */
    --border-radius: 4px;

    /* Transitions */
    --transition-fast: 150ms ease-in-out;
    --transition-normal: 250ms ease-in-out;
    --transition-slow: 350ms ease-in-out;

    /* Grid system variables */
    --grid-columns: 12;
    --grid-gutter: 24px;
    --grid-margin: 24px;

    /* Navigation variables */
    --nav-padding: 24px;
    --nav-item-padding: 16px;

    /* Page and content variables */
    --page-margin: 24px;
    --content-padding: 16px;
    --content-margin: 16px;

    @media only screen and (max-width: 600px) {
        --nav-padding: 8px;
        --nav-item-padding: 8px;

        --page-margin: 8px;
        --content-padding: 4px;
    }
}
