@import './fonts.css';

:root {
    /* Typography */
    --font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    --font-secondary: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;

    --font-size-medium: 0.875rem;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --mnt-header-1-font-size: 28px;
    --mnt-header-1-font-weight: 600;
    --mnt-header-2-font-size: 24px;
    --mnt-header-2-font-weight: 500;
    --mnt-header-3-font-size: 20px;
    --mnt-header-3-font-weight: 400;

    --mnt-body-1-font-size: 16px;
    --mnt-body-1-font-weight: 400;
    --mnt-body-2-font-size: 14px;
    --mnt-body-2-font-weight: 400;
    --mnt-body-3-font-size: 12px;
    --mnt-body-3-font-weight: 500;
}

h1 {
    font-size: var(--mnt-header-1-font-size);
    font-weight: var(--mnt-header-1-font-weight);
}

h2 {
    font-size: var(--mnt-header-2-font-size);
    font-weight: var(--mnt-header-2-font-weight);
}

h3 {
    font-size: var(--mnt-header-3-font-size);
    font-weight: var(--mnt-header-3-font-weight);
}
